@import "../variables/theme_vars";

.has-text-shadow {
  text-shadow: 0 1px 2px rgba($dark, 1);
}

.has-text-shadow-primary {
  text-shadow: 0 1px 2px rgba($primary, 0.1);
}

.has-text-shadow-accent {
  text-shadow: 0 1px 2px rgba($info, 0.1);
}

.has-text-shadow-danger {
  text-shadow: 0 1px 2px rgba($danger, 0.1);
}

.has-box-shadow {
  box-shadow: 1px 3px 4px rgba($dark, 0.1), 0 0 1px rgba($dark, 0.1);
}

.has-box-shadow-primary {
  box-shadow: 1px 3px 4px rgba($primary, 0.3), 0 0 1px rgba($primary, 0.3);
}

.has-box-shadow-accent {
  box-shadow: 1px 3px 4px rgba($info, 0.3), 0 0 1px rgba($info, 0.3);
}

.has-box-shadow-danger {
  box-shadow: 1px 3px 4px rgba($danger, 0.3), 0 0 1px rgba($danger, 0.3);
}

.app-divider {
  width: 80%;
}

.is-clickable {
  cursor: pointer;
}

.button-lg {
  width: 6rem;
}

.button-xlg {
  width: 10rem;
  height: 5rem;
}

.is-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden-button {
  position: absolute;
  background: transparent;
  border: none;
  width: 2rem;
  height: 2rem;
  &:focus {
    outline: none !important;
  }
}

.hidden-button.one {
  margin-left: 3rem;
  margin-top: 1rem;
}

.hidden-button.two {
  margin-top: -1rem;
}

.hidden-button.three {
  margin-left: -3rem;
  margin-top: 1rem;
}

.hidden-button.four {
  margin-top: 4.8rem;
}

.action-buttons {
  margin: .5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
