<nav class="navbar is-primary">
  <div class="navbar-brand">
    <h3 class="is-size-3">Mountain Renders</h3>
    <div class="navbar-burger burger" data-target="primaryNav">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  
  <div id="primaryNav" class="navbar-menu">
    
    <div class="navbar-end">
      <a class="navbar-item">
        Home
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Renders
        </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item">Models</a>
          <a class="navbar-item">Textures</a>
          <a class="navbar-item">Environments</a>
          <a class="navbar-item">Characters</a>
          <a class="navbar-item">Procedural</a>
          <a class="navbar-item">Contest Submissions</a>
        </div>
      </div>
      <div class="navbar-item">
        <div class="field is-grouped">
          <button class="button is-dark">
            <span class="icon">
              <i class="fab fa-artstation artstation-logo"></i>
            </span>
            <span>
              <strong>Art</strong>Station
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
