.app-button-initial {
  border: 0;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  // Initial values to be overwritten
  padding: .75rem;
  font-size: inherit;
}
