@import "variables";

// Main Colors
$blue: $primary-1;
$green: $accent-1;
$orange: $danger-1;

// Theme Colors
$primary: $green;
$info: $blue;
$danger: $orange;
$body-background-color: $dark;
$body-color: $dark-invert;

// Fonts
$body-family: 'Open Sans Condensed', sans-serif;
