// Primary
$primary-1: rgba( 12,103,153,1);
$primary-2: rgba( 76,144,180,1);
$primary-3: rgba( 43,120,161,1);
$primary-4: rgba(  6, 80,120,1);
$primary-5: rgba(  4, 63, 94,1);

// Accent
$accent-1: rgba(120,218,  5,1);
$accent-2: rgba(169,236, 92,1);
$accent-3: rgba(148,230, 53,1);
$accent-4: rgba( 92,172,  0,1);
$accent-5: rgba( 72,135,  0,1);

// Danger
$danger-1: rgba(241, 59,  6,1);
$danger-2: rgba(255,135,100,1);
$danger-3: rgba(254,102, 58,1);
$danger-4: rgba(190, 43,  0,1);
$danger-5: rgba(148, 33,  0,1);

// Dark
$dark: rgb(54,54,54);
$dark-invert: invert($dark);
